.cep-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cep-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1.5rem;
}

.cep-input,
.cep-button {
  width: 100%;
  max-width: 26.4rem;
  height: 3.2rem;
  font-family: var(--font-family-mavenPro);
  border-radius: 0.4rem;
}

.cep-button:hover {
  background: var(--gray-500);
  color: var(--white);
  transition: all 0.3s ease-in;
}

.cep-informations p,
.error-message p,
.cep-informations p,
a {
  color: var(--white);
  font-family: var(--font-family-mavenPro);
}

.cep-informations {
  width: 100%;
  background: var(--white);
  max-width: 26.4rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
}

.cep-informations p:first-child {
  margin-top: 0;
}

.cep-informations p,
a {
  color: var(--black);
  margin: 0.5rem;
}

.error-message {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error-message div {
  background: var(--red-300);
  width: 100%;
  max-width: 26.4rem;
  border-radius: 0.4rem;
  padding: 0.3rem;
}

.error-message div p {
  color: var(--black);
}
